{% extends "_focus.html" %}

{% block head %}
  <link rel="stylesheet" href="/katas/katas.css" type="text/css">
{% endblock %}

{% block beforeMain %}
  <style>
    .news {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      background-color: var(--color-background-2nd);
      width: fit-content;
      margin: auto;
      margin-bottom: var(--spacing-larger);
      padding: var(--spacing-medium);
    }
    .news .date:not(:first-child) {
      font-weight: bold;
      margin-top: var(--spacing-medium);
    }
    
    .teasers {
    }
      .teasers p {
        margin: 0 10% var(--spacing-larger);
      }
      @media screen and (max-width: 60rem) {
      }      
    
    .teasers {
      display: flex; 
      flex-direction: row;
    }
    @media screen and (max-width: 600px) {
      .teasers {
        flex-direction: column;
      }
    }    
    .teasers > * {
      flex: 1;
    }
    
    details {
      text-align: center;
    }
    details summary {
      font-size: var(--font-size-smaller);
      padding: var(--spacing-medium) var(--spacing-large);
    }
    details summary:hover {
      cursor: pointer;
    }
  </style>

  <section class="intro">
    <h1>Learn JavaScript – In Depth</h1>
  </section>
{% endblock %}

{% block afterMain %}
  <div class="teasers">
    <div>
      <p>
        👀 You're a <b>newbie</b>, JSKatas takes you by the hand and helps you learn at your speed!
        Start with an <a href="/katas/groups/level-easy/">easy kata</a> to get the hang of it and find out if you like it.
        For example learn <a href="/katas/es6/language/block-scoping/const/">how to declare a variable</a>.
      </p>
    </div>
    
    <div>
      <p>  
        🧛🏼 You're a <b>seasoned pro</b>, discover hidden JavaScript gems 💎.<br/>
        For example: Do you know all <a href="/katas/es1/language/bitwise-shift-operators/all/"><strong>three</strong> bitwise shift operators</a>? 🤔
      </p>  
  <!--        <p>-->
  <!--          🚀 You feel like you're <a href="/blog/2023/09/29-learn-arrays/"><b>ready to learn Arrays</b></a>? -->
  <!--          This course cover the creation of an array all the way to how to filter 🔍, convert 🙅🏼‍♂️, map 📍, reduce ♻️ and sort ✔️ arrays. -->
  <!--          Arrays are everywhere. -->
  <!--        </p>-->
  <!--        <p>-->
  <!--          ⏰ You want to <b>learn all of JavaScript</b>, even ECMAScript1?<br/> -->
  <!--          Find all <a href="/katas/versions/chronological/#bundle-es1-katas">chronologically sorted katas here</a>.-->
  <!--        </p>-->
    </div>  
  </div>

  <div class="news">
    <h2>Latest Updates</h2>
    <div class="date">October 18th, 2024</div>
    <div>
      {{ "🥋 The first [`Proxy` basics kata](/katas/es6/language/proxy/basics/) inspired by the 76th [#JSLang meetup](https://lu.ma/jslang)" | mdToHtml | safe }}
    </div>
  
    <details>
      <summary></summary>
      <div class="date">March 29th, 2024</div>
      <div>
        {{ "🥋 I released [Learning JavaScript Arrays](/blog/2023/09/29-learn-arrays/).  
        [Let me know](/blog/2023/09/29-learn-arrays/#you-want-more) what you think." | mdToHtml | safe }}
      </div>
      
      <div class="date">March 28th, 2024</div>
      <div>
        {{ "🥋 The first [`array.push()` kata](/katas/es3/language/array-api/push/) gave me so many    
        more ideas for katas on `arr.push()`, it's a 🐇 hole." | mdToHtml | safe }}
      </div>
      <div class="date">March 27th, 2024</div>
      <div>
        {{ "🆕 The first kata on [`Object()` constructor as a function](/katas/es1/language/object-api/constructor/)" | mdToHtml | safe }}
      </div>
      
      <div class="date">January 16th, 2024</div>
      <div>
        {{ "🆕 🍉 [First ES14/ES2023 kata `array.toReversed()`](/katas/es14/language/array-api/toReversed/)" | mdToHtml | safe }}
      </div>
  
      <div class="date">November 7th, 2023</div>
      <div>
        {{ "🆕 [First type-conversion kata \"to boolean\"](/katas/es1/language/type-conversion/to-boolean/)" | mdToHtml | safe }}
      </div>
      
      <div class="date">November 5th, 2023</div>
      <div>
        {{ "🆕 9 new katas around functions 🤯." | mdToHtml | safe }}
      </div>
      <div>
        {{ "🔥 The first [strict mode kata](/katas/es5/language/strict-mode/on-off/)." | mdToHtml | safe }}
      </div>
      <div>
        {{ "👷🏽‍♀️ Each test runs in a separate worker thread now,  \nthis allows for more test cases to be written." | mdToHtml | safe }}
      </div>
  
      <div class="date">October 15th, 2023</div>
      <div>
        {{ "🆕 NEW: [`function.name` kata](/katas/es6/language/function-api/name/)." | mdToHtml | safe }}
      </div>
      <div>
        {{ "🌟 Two katas in progress: [`Symbol.hasInstance`](/katas/es6/language/symbol/hasInstance) and [`function.name` in depth](/katas/es6/language/function-api/name-in-depth/)." | mdToHtml | safe }}
      </div>
      
      <div class="date">October 14th, 2023</div>
      <div>
        {{ "✨ Add 'How to' on the kata pages." | mdToHtml | safe }}
      </div>
      <div>
        {{ "🧹 Improved [class-creation kata](/katas/es6/language/class/creation/). Explains better, covers more knowledge." | mdToHtml | safe }}
      </div>
      <div>
        {{ "Two new katas: 🆕 [`function.length` for ES1](/katas/es1/language/function-api/length/) and 🆕 [with ES6 features](/katas/es6/language/function-api/length/)." | mdToHtml | safe }}
      </div>
      
      <div class="date">October 11th, 2023</div>
      <div>
        {{ "🆕 `array.shift()` first introduced in 1999, has [a kata now](/katas/es3/language/array-api/shift/)." | mdToHtml | safe }}
      </div>
      <div>
        {{ "The [kata for `let`](/katas/es6/language/block-scoping/let/) is now in GIVEN-WHEN-THEN style for better usability." | mdToHtml | safe }}
      </div>
  
      <div class="date">October 9th, 2023</div>
      <div>
        {{ "🐞 Bugfix: Make the [`let` kata](/katas/es6/language/block-scoping/let/) work again, it runs in a worker thread now ([see issue](https://codeberg.org/wolframkriesing/jskatas-org/issues/2))." | mdToHtml | safe }}
      </div>
      
      <div class="date">October 8th, 2023</div>
      <div>
        {{ "🆕 New kata: [`String.raw`](/katas/es6/language/string-api/raw/)." | mdToHtml | safe }}
      </div>
      
      <div class="date">September 30th, 2023</div>
      <div>
        {{ "Dive into [JavaScript arrays — the first in-depth article](/blog/2023/09/29-learn-arrays/) in our series!" | mdToHtml | safe }}
      </div>
      
      <div class="date">September 29th, 2023</div>
      <div>
        {{ "Configure the behavior on the kata site, turn on/off the auto-open of the first kata, and more." | mdToHtml | safe }}
      </div>
      
      <div class="date">September 26th, 2023</div>
      <div>
        {{ "🎉 🎉 🎉 **A Big Change**. 🎉 🎉 🎉 <br/>Now you can solve the katas inline without going to [tddbin](https://tddbin.com)." | mdToHtml | safe }}
      </div>
      
      <div class="date">September 4th, 2023</div>
      <div>
        {{ "🆕 New kata [Bitwise Shift Operators: Right Shift \">>\"](/katas/es1/language/bitwise-shift-operators/right-shift/)" | mdToHtml | safe }}
      </div>
      <div>
        {{ "🆕 New kata [All bitwise shift operators](/katas/es1/language/bitwise-shift-operators/all/)" | mdToHtml | safe }}
      </div>
      
      <div class="date">September 1st, 2023</div>
      <div>
        {{ "🆕 New kata [Bitwise Shift Operators: Left Shift \"<<\"](/katas/es1/language/bitwise-shift-operators/left-shift/)" | mdToHtml | safe }}
      </div>
    </details>
  </div>
{% endblock %}

{% block sidebar %}
  <nav class="katas" id="katas-nav">
    <a href="/katas/groups/all/" class="groups plausible-event-name=Click+Group">Topics</a>
    <a href="/katas/versions/chronological/" class="versions plausible-event-name=Click+Group">JS Versions</a>
    <a href="/random/" class="random plausible-event-name=Click+Group">Random Kata</a>
  </nav>
  {% block subnavigation %}{% endblock %}
{% endblock %}
