{% extends "katas/_list.html" %}

{% block canonicalUrl %}https://{{site.domain}}/katas/groups/{% if subfilter === 'all' %}all{% else %}level-{{subfilter}}{% endif %}/{% endblock %}
{% block pagename %}kata groups {{subfilter}}{% endblock %}
{% block metaDescription %}All the {% if subfilter !== 'all' %}{{ subfilter }} {% endif %}katas{% endblock %}

{% block subnavigation %}
  <nav class="katas sublevel">
    <a href="/katas/groups/all/" class="all plausible-event-name=Click+Subgroup">all</a>
    <a href="/katas/groups/level-easy/" class="easy plausible-event-name=Click+Subgroup">easy</a>
    <a href="/katas/groups/level-medium/" class="medium plausible-event-name=Click+Subgroup">medium</a>
    <a href="/katas/groups/level-hard/" class="hard plausible-event-name=Click+Subgroup">hard</a>
  </nav>
{% endblock %}

{% block main %}
  <h2>
    <a href="#topics" id="topics">Topics</a>
    <span class="stats">{{katasCount}} katas</span>
  </h2>
  {% for group in kataGroups %}
    <div class="group ">
      <h3>{{ group[0].groupName }} <span style="color: var(--color-foreground-highlight-2nd)">{{ group|length + group.blogPosts|length }}</span></h3>
      {% for kata in group %}
        <div class="kata">
          <a href="{{ kata.absolutePath }}">{{ kata.name | mdToHtml | safe }}</a>
          {% if kata.isNew %}
            <span class="notification-bubble new">#new</span>
          {% elif kata.isPublished === false %}
            <span class="notification-bubble unpublished">#in progress</span>
          {% endif %}
        </div>
      {% endfor %}
      {% for post in group.blogPosts %}
        <div class="kata">
          📕&nbsp;<a href="{{ post.url }}">{{post.title}}</a>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
