@import "../_global.css";
@import "../_header.css";

h1 {
  text-align: center;
  margin-bottom: var(--spacing-small);
}
h1 ~ p {
  text-align: center;
}

h2:not(:first-of-type) {
  margin-top: var(--spacing-large);
}

.metadata.tag {
  color: var(--color-foreground-inverse);
  background: var(--color-foreground-highlight-2nd);
  border-radius: var(--distance-small);
  padding: 0 var(--spacing-small);
}

main h2 + * {
  margin-left: var(--spacing-small);
}
main h3,
main h3 + * {
  margin-left: var(--spacing-large);
}
main h4,
main h4 + * {
  margin-left: calc(2 * var(--spacing-large));
}
main h5,
main h5 + * {
  margin-left: calc(3 * var(--spacing-large));
}
/* Create a large spacing at the end of all the elements that follow an heading */
main h2 + *,
main h3 + *,
main h4 + *,
main h5 + * {
  margin-bottom: var(--spacing-large);
}

aside ul {
  margin: var(--spacing-medium);
}
aside h3 {
  font-size: var(--font-size-medium);
  margin-top: var(--spacing-medium);
}
