{% extends "_focus.html" %}

{% block pagename %}blog{% endblock %}
{% block canonicalUrl %}https://{{ site.domain }}/{% endblock %}
{% block head %}<link rel="stylesheet" href="/blog/overview.css" type="text/css">{% endblock %}
{% block metaDescription %}All jskatas blog posts{% endblock %}

{% block main %}
  <h1>Latest Posts</h1>

  {% import "blog/_parts.njk.html" as blogParts %}
  <section>
    {% for post in posts %}
      {{ blogParts.articlePreview(post) }}
    {% endfor %}
  </section>
{% endblock %}

{% block sidebar %}
{% endblock %}
