{% extends "_focus.html" %}

{% block pagename %}runner-tests{% endblock %}
{% block canonicalUrl %}https://{{ site.domain }}/jschronicle/array.html{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/katas/kata.css" type="text/css">
  <link rel="stylesheet" href="jschronicle.css" type="text/css">
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block main %}
  <h1>JSChronicle</h1>

  <style>
    main {
      flex: 1;
    }
    .box-main-content {
      overflow: visible;
    }

    {% for what, _ in stats.data %}
      {% for year in stats.allYears %}
      input[value={{what}}]:checked ~ * .{{year}} {
        --size: {{ stats.data[what][year].percent }};
      }
      {% endfor %}
    {% endfor %}
  </style>

  {% for what, _ in stats.data %}
    <input type="radio" name="filter" value="{{ what }}" id="show-{{ what }}" {% if what == "Array" %}checked{% endif %}><label for="show-{{ what }}"> {{ what }}</label>
  {% endfor %}

  <bar>
    {% set colors = cycler(
      'var(--color-foreground-highlight)', 'var(--color-foreground-highlight)', 
      'var(--color-foreground-highlight-2nd)', 'var(--color-foreground-highlight-2nd)', 
      'var(--color-foreground-highlight-3rd)', 'var(--color-foreground-highlight-3rd)', 
      'var(--color-foreground-highlight-4th)', 'var(--color-foreground-highlight-4th)', 
      'var(--color-foreground-highlight-code)', 'var(--color-foreground-highlight-code)',
      'var(--color-foreground-highlight-4th)', 'var(--color-foreground-highlight-4th)',
      'var(--color-foreground-highlight-3rd)', 'var(--color-foreground-highlight-3rd)'
    ) %}
{#    
    <year style="--color: {{ _[0] }}">
      <bubble style="--size: 2; left: calc(var(--scale) * -1.5);"></bubble>
      <circle style="left: -0.25rem;"></circle>
      <text style="text-align: left; justify-content: left; margin-left: 0.25rem;">
        ES1<br><br>1997
      </text>
    </year>
#}    
    {% for year in stats.allYears %}
      <year class="{{year}}" style="--color: {{ colors.next() }};">
{#
        <legend>
          <h2>{{ meta[year].name }}</h2>
          {{ stats.facts[year] | mdToHtml | safe }}
        </legend>
#}
        {% if stats.data.all[year].numTotal %}
          <bubble></bubble>
        {% endif %}
        <circle></circle>
        <text>{{ meta[year].name | upper }}<br><br>{{ meta[year].publishedAt[1] }}</text>
      </year>
    {% endfor %}
    
    <line></line>
  </bar>
{% endblock %}

