:root {
  --scale: 15vw; 
  --min-scale: 3vw; 
}
bar {
  display: flex;
  position: relative; /* Make also absolute positioned elements not overflow out of the box. */
  align-items: center;
  width: auto;
  height: 50vw;
  border: 1px solid lightgray;
  overflow: hidden; /* Cut off anything leaving this square, like the <line> */
}
year {
  flex: 1;
  position: relative;
  height: 100%;
}
year text {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
circle, bubble {
  position: absolute;
  background-color: var(--color);
  border-radius: 50%;
  left: calc(50% - var(--_size) / 2);
  top: calc(50% - var(--_size) / 2);
}
circle {
  --_size: 0.5rem;
  width: var(--_size);
  height: var(--_size);
  background: white;
}
bubble {
  /*--_size: calc(var(--size) * var(--scale) + var(--min-scale) * round(up, var(--size), 1)); /* round() is used to make size=0 add NO circle, and everything above A circle */
  --_size: calc(var(--size) * var(--scale) + var(--min-scale) * max(0, min(1, var(--size)))); /* REMOVE this when all browsers can do `round()` in CSS */
  display: block;
  width: var(--_size);
  height: var(--_size);
  opacity: 0.6;
  margin: auto;
}
legend {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: var(--spacing-small);
  /* Make the legend be wider than the column, since we have space right and left. */
  width: 150%;
  left: -25%;
}
year:nth-of-type(even) legend {
  bottom: 0;
}
line {
  --_height: 1px;
  width: 100%;
  height: var(--_height);
  top: calc(50 - var(--_height) / 2); /* no idea why the "50 - ..." centers the line, but looks like it works */
  background: white;
  position: absolute;
}